*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#EDE1DA;
    font-family: 'Source Sans 3', sans-serif;
}
.first_section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    color: gray;
}
.bold{
    font-weight: 550;
    color:rgb(99, 99, 99);
}
.nav_div{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.border{
    border-top: 1px black dashed;
    margin-top: 10px;
    width: 90%;
    margin: auto;
}
nav{
    width: 90%;
    display: flex;
    align-items: center;
    font-weight: 550;
    gap: 30px;
}
/* .contact_btn{
    background-color: #E27152;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
nav>div{
    margin-left: 250px;
    gap: 90px;
} */
nav a{
    text-decoration: none;
    color: black;
}
.navlist:hover{
    color: #E06543;
    transition: 0.2s;
}
.s21l{
    display: flex;
    font-weight:500;
    color:rgb(53, 53, 53);
    align-items: center;
    gap: 20px;

}
.NEW{
    background-color: #F4CBBF;
    border: none;
    color: #E27152;
    font-size: 10px;
    padding: 0px 4px;
    height: 20px;
    border-radius: 5px;
}
.second_section{
    padding: 90px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.s2h1{
    color: rgba(0, 0, 0, 0.744);
    margin-top: 30px;
    font-size: 90px;
    text-align: center;
    line-height: 1;
}
.curlyimgs2{
    position: absolute;
    top: 270px;
    left: 210px;
}
.highlightimgs2{
    position: absolute;
    top: 110px;
    right:160px;
}
.pointtxt{
    margin: 10px 0px 0px 0px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.572);
}
.codetxt{
    color: rgba(0, 0, 0, 0.439);
    font-size: 22px;
    letter-spacing: 3px;
    margin:30px 0px 30px 0px;
}
.btn1s2{
    display: flex;
    align-items: center;
    padding: 23px 40px;
    font-size:17px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.838);
    border: none;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.5);
}
.btn2s2{
    background-color: #E06543;
    color: white;    
    padding: 23px 55px;
    font-size: 18px;
    font-weight: 550;
    border: none;
    border-radius: 5px;    
    box-shadow: 0px 6px 12px -2px rgba(0, 0, 0, 0.5);
}
.btnsec{
    display: flex;
    align-items: center;
    gap: 40px;
}
.eighty{
    width: 85%;
    margin: 90px auto 70px auto;
}
/* .third_section{
    display: flex;
    justify-content: center;
} */
.p1s3{
    color: rgba(0, 0, 0, 0.351);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}
.brands{
    display: flex;
    width: auto;
    height: 67px;
    align-items: center;
    gap: 50px;
    justify-content: center;
    margin: 20px auto auto auto;
}
.brands img{
    max-width:10%;
    max-height:80%;
    padding: 5px 5px;
    filter: opacity(50%)

}
.fourth_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1s4{
    font-size: 50px;
    font-weight: bolder;
}
.float2{
    position: absolute; 
    right: 270px;
}
.h1s4 span {
    color: #E06543;
}
.s4code1{
    background-color: white;
    width: 40%;
    margin: 40px auto 20px auto;
    border-radius: 20px;
    padding: 20px 10px 30px 10px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 94px;
    gap: 40px;
}
.controls img{
    max-width: 10%;
    max-height: 200%;
}
.codetmp{
    display: flex;
    justify-content: center;
}
.codetmp img{
    max-width: 90%;
    box-shadow:2px 6px 19px 2px rgba(0, 0, 0, 0.5);
}
.vertical_border{
    border-right: 1px dashed black;
    height: 200px;
    width: 50%;

}
.two50{
    height: 250px;
}
.eight50{
    height: 855px;
}
.box1{
    text-align: center;
    position: relative;
    margin: 10px 0px 20px 0px;
}
.float3{
    position: absolute;
    top: -10px;
    left: 290px;
}
.circle_border {
    border:1.9px dashed #E06543;
    border-radius: 50px;
    width: 15px;
    height: 15px;
    margin:10px auto 10px auto;
}
.float4{
    position: absolute;
    top: -10px;
    right: 330px;
}
.learnbtn{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}
.path{
    position: relative;
}
.code{
    border-radius: 10px;
    position: absolute;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
}
.codeimg1{
    top: 90px;
    left: 180px;
}
.codeimg2{
    top: 335px;
    right: 185px;
}
.txtcon{
    position: absolute;
    width: 360px;
    height: 130px;
}
.con1{
    top: 170px;
    right: 240px;
}
.con2{
    text-align: end;
    top: 440px;
    left: 240px;
    display: flex;flex-direction: column;
    align-items: end;
}
.codeP{
    color: rgba(0, 0, 0, 0.802);
}

.codeimg3{
    top: 655px;
    left: 180px;
}
.symbol{
    display: inline-block;
    filter: grayscale(50);
    border: 1px solid black;
    border-radius: 5px;
    padding:4px 5px;
    display: flex;
    align-items: center;
    width: 30px;
    box-shadow: 1px 1px 12px  -5px black ;
    margin: 0px 0px 5px 0px;
}
.sy2{
    align-self: flex-end;
}
.con3{
    position: absolute;
    top: 745px;
    right: 240px;
}
.con4{
    text-align: end;
    position: absolute;
    bottom:470px ;
    display: flex;
    flex-direction: column;
    align-items: end;
    left: 240px;
}
.codeimg4{
    bottom: 430px;
    right: 170px;
}